.triggerButton { display: none; }

.triggerButton:hover + label{
    background-color: var(--brand-hover);
}

.triggerButton + label {
    cursor: pointer;
    position: fixed;
    right: 2em;
    bottom: 5em;
    background-color: var(--brand-normal);
    height: var(--l);
    width: var(--l);
    border-radius: 50%;
    z-index: 2;
}

.triggerButton + label:before, .triggerButton + label:after {
    position: absolute;
    content: '';
    height: calc(var(--l) / 2 );
    width: .25em;
    background-color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: .5em;
    transition: all .25s;
}

.triggerButton + label:before {
    height: calc(var(--l) / 2 );
    width: .25em;
}

.triggerButton + label:after {
    width: calc(var(--l) / 2 );
    height: .25em;
}