<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="box">
        <h1>Login</h1>
        <p id="errorMsg" class="error"></p>
        
        <input formControlName="email" value="email" class="email" />
        <input formControlName="password" type="password" value="pass" class="email" />

        <button class="btn" id="signIn">Sign In</button>
        <button type="button" id="btn2">Sign Up</button>
    </div>
</form>

<p>Information, default credentials and source code available <a href="https://github.com/rchaves-eqsdigital/starter_project">here</a></p>