.nav {
    background-color: var(--dark-gray-5);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav a {
    float: left;
    display: block;
    color: var(--dark-gray-1);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 30px;
}

.nav a:hover {
    background-color: var(--dark-gray-6);
    color: var(--dark-gray-2);
}

.nav a.active {
    background-color: var(--dark-gray-6);
    color: var(--dark-gray-1);
}

.nav .icon {
    display: none;
}