<app-top-nav back="{{getBack()}}"></app-top-nav>
<div class="content" *ngIf="item; else errorBlock">
    <img src="{{item.getPic()}}"/>
    <h2>{{item.getTitle()}}</h2>
    <div>
        <p id="data_value" style="display: inline-block;">{{item.getBody()}}</p>
        <span id="data_ok" class="status"><i class="fa fa-check-circle"></i></span>
        <span id="data_bad" class="status"><i class="fa fa-times"></i></span>
    </div>
    <app-item-form [item]="item" [type]="getType()" [id]="getID()"
    (onClose)="formClosed($event)"></app-item-form>
    <app-graph *ngIf="getType()=='sensor'" [id]="getID()"></app-graph>
</div>
<ng-template #errorBlock>
    <div class="content">
        <h2 id="error"></h2>
    </div>
</ng-template>

<app-bottom-nav></app-bottom-nav>
