<app-top-nav back="{{this.getBack()}}"></app-top-nav>
<div class="content" *ngIf="item; else errorBlock">
    <img src="{{item.getPic()}}"/>
    <h2>{{item.getTitle()}}</h2>
    <p>{{item.getBody()}}</p>
    <app-item-form [item]="item" [type]="this.getType()" [id]="this.getID()"></app-item-form>
    <app-graph *ngIf="this.getType()=='sensor'" [id]="this.getID()"></app-graph>
</div>
<ng-template #errorBlock>
    <div class="content">
        <h2 id="error"></h2>
    </div>
</ng-template>

<app-float-button></app-float-button>

<app-bottom-nav></app-bottom-nav>
