.box{
    background: var(--gray-1);
    width:300px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border: var(--gray-2) 4px solid; 
}

.email{
    background: var(--gray-1);
    border: var(--gray-2) 1px solid;
    border-bottom: var(--gray-2) 2px solid;
    padding: 8px;
    width:250px;
    color: var(--gray-2);
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
}

.btn{
    background:var(--brand-normal);
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:var(--gray-1);
    border-radius:4px;
    border: var(--brand-hover) 1px solid;

    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
}

.btn:hover{
    background: var(--brand-hover); 
}

#btn2{
    float:left;
    background:var(--gray-5);
    width:125px;  padding-top:5px;
    padding-bottom:5px;
    color:var(--gray-1);
    border-radius:4px;
    border: var(--gray-3) 1px solid;

    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:800;
    font-size:0.8em;
}

#btn2:hover{ 
    background:var(--gray-3); 
}